.login-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  /* background: linear-gradient(to bottom, #f9f9f9, #eaeaea); */
  background: linear-gradient(to right,#EFF6FF, #E8E4FD );

}

.login-page-header-box {
  text-align: center;
  margin: 30px 30px 30px 30px; /* top right bottom left*/
  max-width: 400px;
  width: 100%;
  text-align: center;
}

.login-page-header-title {
  font-size: 28px;
  font-weight: bold;
  color: #6c63ff;
}

.login-page-header-subtitle {
  font-size: 16px;
  color: #555;
  margin-top: 5px;
}

.login-page-card {
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  border: 1px solid #ddd; /* Light border for the box */
  max-width: 400px;
  width: 100%;
  text-align: center;
  margin: 0 auto; /* Center the card horizontally */
  margin-bottom: 5em; /* Space below the card */
}

.login-page-header {
  margin-bottom: 20px;
}

.login-page-icon {
  font-size: 40px;
  color: #6c63ff;
}

.login-page-title {
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

.login-page-subtitle {
  font-size: 14px;
  color: #777;
}

/* Form Styles */
.login-page-form {
  margin-top: 20px;
}

.login-page-form-group {
  margin-bottom: 15px;
  text-align: left;
}

.login-page-form-label {
  font-size: 14px;
  color: #555;
  margin-bottom: 5px;
  display: block;
}

.login-page-form-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 14px;
  color: #333;
}

.login-page-form-input:focus {
  border-color: #6c63ff;
  outline: none;
}

.form-button {
  width: 100%;
  padding: 10px;
  background: linear-gradient(to right, #6c63ff, #574bff);
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
}

.form-button:hover {
  background: linear-gradient(to right, #574bff, #6c63ff);
}

.redirect-text {
  margin-top: 15px;
  font-size: 14px;
  color: #555;
}

.signup-link {
  color: #6c63ff;
  cursor: pointer;
}

.signup-link:hover {
  text-decoration: underline;
}

.forgot-password {
  margin-top: 10px;
  font-size: 14px;
  color: #777;
  cursor: pointer;
}

.forgot-password:hover {
  text-decoration: underline;
}